@import "../../assets/scss/mainSytles/colors";
@import "../../assets/scss/mainSytles/fonts";

.background-detail-kit {
    background: $background-color !important;
}

.detail-container {
    border: 1px solid #EEE;
    background-color: #FFF;
    border-radius: 10px;
}

.detail-title {
    font-family: $font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #18191F;
    margin-bottom: 18px;
}

.container-detail {
    display: flex;
    flex-direction: row;
    background-color: #FFF;
    border-radius: 10px;
    border: 1px solid #EEE;
    padding: 30px 24px 30px 24px;
    box-shadow: 0px 2px 3px rgba(217, 219, 225, 0.3) !important;
}

.hack-sm-btn {
    width: 100%;
    line-height: 30px !important;
    border: 1.5px solid $primary-color !important;

    &:last-child {
        color: $primary-color !important;
    }
}

.column-8 {
    width: 70%;
    min-height: 100px;
}

.column-4 {
    width: 30%;
    min-height: 100px;
}

.card-detail {

    border: 4px solid #FFF !important;
    border-radius: 10px !important;
    box-shadow: 0px 2px 3px rgba(217, 219, 225, 0.3) !important;

    .img-wrapper-detail {
        height: 100%;
        margin-bottom: 0;
        border-radius: 10px;
        overflow: hidden;
    }

    .cover-img {
        object-fit: cover;
        height: 420px;
        width: 100%;

    }

    &.card-featured-detail:hover {
        overflow: hidden;
        border-radius: 14px !important;
        cursor: pointer;

        .img-wrapper-detail {
            margin: 0;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            // transform: scale(1.05);
            // transition: 0.25s transform ease-in-out;
            opacity: 0.9;
        }
    }
}

.total-page {
    font-family: $font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 40px;
    color: $primary-color;
}

.detail-description {
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #3F3F3F;
    margin-top: -6px;
    margin-bottom: 24px;
    max-width: 650px;
}

.nav-pills .detail-pill .nav-link:not(.active) {
    background-color: #E9E9E9;
    color: #656565 !important;
    border-radius: 100px;
    height: 34px;
    line-height: 18px !important;
}

.nav-pills .detail-pill .nav-link {
    background-color: $primary-color;
    color: #FFF !important;
    border-radius: 100px;
    height: 34px;
    line-height: 18px !important;
    font-family: $font-family;
    margin-right: 14px;
}

.feature-name {
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 40px;
    color: #3F3F3F;
    margin-left: 12px;
}

.feature-off {
    color: #9A9999 !important;
}

.price-container {
    border: .5px solid #EEEEEE;
    border-radius: 10px;
    background: rgba(250, 250, 250, 0.5);
    padding: 24px;
    margin-top: 20px;
}

.detail-price-label {
    font-family: $font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #3F3F3F;
    margin-bottom: 10px;
    padding-top: -10px !important;
}

.detail-price-free {
    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: $red-color;
    margin-bottom: 14px;
}

.detail-price-rupiah {
    font-family: $font-family;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: $font-main-color;
    margin-right: 12px;
    margin-bottom: 14px;
}

.detail-price-dollar {
    font-family: $font-family;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: $font-main-color;
    margin-right: 12px;
    margin-bottom: 14px;
}

.frame-feature {
    height: 34px;
}

@media (max-width: 576px) {
    .container-detail {
        display: flex;
        flex-direction: column;
    }

    .hack-sm-btn {

        &:last-child {
            color: $primary-color !important;
        }
    }

    .column-8 {
        width: 100%;
        min-height: 100px;
    }

    .detail-price-rupiah {
        font-family: $font-family;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        color: $font-main-color;
        margin-right: 12px;
        margin-bottom: 14px;
    }

    .detail-price-dollar {
        font-family: $font-family;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        color: $font-main-color;
        margin-right: 12px;
        margin-bottom: 14px;
    }

    .column-4 {
        margin-top: 14px;
        width: 100%;
        min-height: 100px;
    }

    .card-detail {
        border: 4px solid #FFF !important;
        border-radius: 10px !important;
        box-shadow: 0px 2px 3px rgba(217, 219, 225, 0.3) !important;
    
        .img-wrapper-detail {
            height: 100%;
            margin-bottom: 0;
            border-radius: 10px;
            overflow: hidden;
        }
    
        .cover-img {
            object-fit: cover;
            height: 300px;
            width: 100%;
    
        }
    
        &.card-featured-detail:hover {
            overflow: hidden;
            cursor: pointer;
    
            .img-wrapper-detail {
                margin: 0;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                // transform: scale(1.05);
                // transition: 0.25s transform ease-in-out;
                opacity: 0.9;
            }
        }
    }
}

#btn-hover:hover {
    background: lighten($primary-color, 44%);
}


@media screen and (max-width: 996px) and (min-width: 577px) {
    .container-detail {
        display: flex;
        flex-direction: column;
    }

    .column-8 {
        width: 100%;
        min-height: 100px;
    }

    .column-4 {
        margin-top: 14px;
        width: 100%;
        min-height: 100px;
    }

    .hack-flex-md {
        flex-direction: row !important;
    }

    .hack-md-btn {
        width: 100%;

        // margin: 8px 0px 13px 0px !important;
        &.hack-sm-btn {
            &:last-child {
                color: $primary-color !important;
            }
        }

    }

    .card-detail {

        border: 2px solid #FFF !important;
        border-radius: 10px !important;

        .img-wrapper-detail {
            height: 100%;
            margin-bottom: 0;
            border-radius: 10px;
            overflow: hidden;
        }

        .cover-img {
            object-fit: cover;
            height: 460px !important;
            width: 100%;

        }

        &.card-featured-detail:hover {
            overflow: hidden;
            max-height: 460px !important;
            cursor: pointer;

            .img-wrapper-detail {
                margin: 0;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                // transform: scale(1.1);
                // transition: 0.25s transform ease-in-out;
                opacity: 0.9;
            }
        }


    }
}