@import "../../../assets/scss/mainSytles/colors";
@import "../../../assets/scss/mainSytles/fonts";

.bg-landing-page {
  background: $background-color;
}

.default-margin-from-navbar {
  margin-top: 90px;
}

.header-title {
  font-family: $font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 64px;
  color: $font-main-color;
  margin-top: 90px;
  max-width: 500px;
}

.variant-text {
  color: $primary-color;
}

.note-divider {
  height: 74px;
  width: 4px;
  border-radius: 10px;
  background-color: $primary-color;
}

.header-subtitle {
  font-family: $font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  align-items: center;
  color: $font-description-color;
  margin-left: 20px;
  width: 450px;
}

.hero-feature-1 {
  height: 66px;
  border-radius: 100px;
  background-color: $violet-color;
  box-shadow: 4px 8px 12px 5px rgba(163, 106, 255, 0.15);
}

.hero-title-feature {
  font-family: $font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  color: $font-main-color;
  margin-top: 16px;
}

.icon-feature {
  width: 50px;
  height: 50px;
}

.hero-feature-container {
  background: #FFF;
  border-radius: 10px;
  padding: 34px 18px 34px 25px;
  box-shadow: 0px 2px 12px #EEEFF4, 0px 2px 3px rgba(217, 219, 225, 0.3);

  &.hack-margin {
    margin-top: -110px;
  }
}

.hero-title-feature-1 {
  font-family: $font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: $font-description-color;
  margin-top: 16px;
  margin-bottom: 4px;
}

.hero-subtitle-feature-1 {
  font-family: $font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $font-description-color;
}

.btn-outline-primary {
  border: 2px solid $primary-color !important;
}

.btn-outline-primary:hover {
  background-color: #E9F4FF !important;
  border: 2px solid $primary-color !important;
}

.border-cstm {
  border: 1px solid #F5F5F5;
  border-radius: 6px;
  max-width: 440px;
  box-shadow: 0px 2px 3px rgba(217, 219, 225, 0.3),
}

.btn-small-1 {
  width: 200px;
  font-size: 16px;
  height: 54px;
  margin: 30px 0px 60px 0px;
}

.btn-small-2 {
  width: 200px;
  font-size: 16px !important;
  font-weight: 400 !important;
  height: 54px;
  margin: 30px 0px 60px 0px;
  color: $primary-color !important;
  padding-left: 12px !important;
  padding-right: 12px !important;
  line-height: 40px !important;
}


@media (max-width: 576px) {
  .header-title {
    font-family: $font-family;
    font-style: normal;
    font-weight: bold;
    font-size: 38px !important;
    line-height: 52px;
    color: $font-main-color;
    margin-top: 40px;
    text-align: center;
  }

  .hero-title-feature {
    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: $font-main-color;
    margin-top: 16px;
    margin-bottom: 10px;
  }

  .btn-small-1 {
    font-size: 15px !important;
    height: 56px !important;
  }

  a.btn.btn-outline-primary.btn-small-2 {
    font-size: 16px !important;
    font-weight: 400 !important;
    height: 56px !important;
    line-height: 40px !important;
    color: $primary-color !important;
  }

  .bg-button-hero {
    justify-content: center;
  }

  .border-cstm {
    border: 2px solid #FAFAFA;
    border-radius: 6px;
  }

  .header-subtitle {
    font-size: 16px;
    align-items: center;
    color: $font-description-color;
    margin-left: 20px;
    max-width: 340px;
  }

  .hero-feature-container {
    background: #FFF;
    border-radius: 10px;
    padding: 34px 18px 34px 18px;
    box-shadow: 0px 2px 3px rgba(217, 219, 225, 0.3), 4px 12px 26px 20px rgba(156, 178, 197, 0.1);

    &.hack-margin {
      margin-top: 30px;
    }

    &.hack-margin-1 {
      margin-top: 30px;
    }
  }
}


@media screen and (max-width: 996px) and (min-width: 577px) {
  .hack-margin-md-screen {
    margin-top: 120px !important;
  }

  .bg-button-hero {
    justify-content: center;
    margin-top: 30px;
  }
  
  .header-title {
    font-size: 36px !important;
    line-height: 52px;
    max-width: 500px;
    margin: auto;
    text-align: center;
    margin-top: -50px !important;
  }

  .btn-small-1 {
    width: 200px;
    font-size: 14px;
  }

  .btn-small-2 {
    width: 200px;
    font-weight: 400;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 16px !important;
    font-weight: 500 !important;
  }

  .border-cstm {
    margin: auto;
    width: 460px;
  }

  .header-subtitle {
    margin-left: 20px;
    width: 450px;
  }

  .hero-title-feature {
    font-size: 24px;
  }

  .hero-feature-container {
    background: #FFF;
    border-radius: 10px;
    padding: 34px 18px 34px 18px;
    box-shadow: 0px 2px 3px rgba(217, 219, 225, 0.3), 4px 12px 26px 20px rgba(156, 178, 197, 0.1);

    &.hack-margin {
      margin-top: -100px;
    }

    &.hack-margin-1 {
      margin-top: 0px;
    }
  }

}