@import "../../assets/scss/mainSytles/colors";
@import "../../assets/scss/mainSytles/fonts";
@import "../../assets/scss/mainSytles/mixins";

// .rupiah-price {
//   @include badge;
//   background: lighten($violet-color, 27%);
//   color: $violet-color;
//   margin-right: 8px !important;
// }

// .badges--free {
//   @include badge ;
//   background: lighten($red-color, 26%);
//   color: $red-color;
//   margin-right: 8px !important;
// }

// .dollar-price {
//   @include badge;
//   background: lighten($secondary-color, 44%);
//   color: $secondary-color;
// }

.rupiah-price {
  font-family: $font-family;
  color: $font-main-color;
  font-weight: 600;
  font-size: 20px;
  padding-left: 10px !important;

}

.dollar-price {
  font-family: $font-family;
  color: $font-main-color;
  font-weight: 600;
  font-size: 20px;
  padding-left: 10px !important;

}

.divider-horizontal {
  height: 0.5px;
  width: auto;
  margin-left: 10px !important;
  margin-right: 10px !important;
  background: #eee !important;
  margin-bottom: 20px !important;
}

.responsive-img {
  width: 100%;
  // height: 15vw !important;
  object-fit: cover !important;
}

.embed-responsive .card-img-top {
  width: 100% !important;
  height: 260px !important;
  object-fit: cover !important;
  border-radius: 10px 10px 0 0 !important;
  overflow: hidden !important;
}

// Card Product

.card-product {
  display: flex;
  margin-bottom: 2rem;
  width: 100%;
  background-color: #FFF;
  border: 1px solid #EEE !important;
  border-radius: 10px;
  transition: transform 0.4s !important;

  .card-item-product {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &:hover {    
    transition: transform 0.5s;
    transform: translateY(-4px);
    box-shadow: 0px 10px 16px rgba(156, 178, 197, 0.2);
  }

  .card-text-product {
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #57575a;
    padding-left: 10px !important;
  }

  // Content
  .card-info-product {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 16px 12px 20px 12px;
    line-height: 1.5em;
  }

  .card-title-product {
    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #3f3f3f;
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin-top: 6px;

    &:hover {
      color: #2296ff;
    }
  }
}

@media (max-width: 576px) {
  .card-product {
    .card-text-product {
      font-size: 15px;
      line-height: 18px;
    }

    .card-title-product {
      font-size: 20px;
      line-height: 24px;
      margin-top: 6px;
    }
  }

  .embed-responsive .card-img-top {
    height: 30vh !important;
  }

  .badges {
    font-size: 15px;
    padding: 0.3rem 0.9rem 0.35rem;
    font-weight: 600 !important;
  }

  .responsive-img {
    width: 100%;
    height: 10vw !important;
    object-fit: cover !important;
  }
}

@media screen and (max-width: 900px) and (min-width: 577px) {
  .embed-responsive .card-img-top {
    width: 100% !important;
    height: 210px !important;
    object-fit: cover !important;
    border-radius: 10px 10px 0 0 !important;
  }
}
