@import "../../assets/scss/mainSytles/colors";
@import "../../assets/scss/mainSytles/fonts";


.bg-hire-us {
    background: $background-color;
}

.hire-us-title {
    font-family: $font-family;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 58px;
    color: $font-main-color;
    margin-top: 90px;
    max-width: 600px;
}

.btn-hire-us {
    width: 160px;
    font-size: 16px;
    height: 54px;
    margin: 50px 0px 60px 0px;
}


.hire-us-description {
    font-family: $font-family;
    font-style: normal;
    font-size: 22px;
    line-height: 32px;
    color: $font-description-color;
    margin-top: 20px;
    max-width: 510px;
}

.work-process {
    font-family: $font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: $font-main-color;
    margin-bottom: 30px;
}

.frame-process {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    box-shadow: 0px 2px 3px rgba(217, 219, 225, 0.3);
    border-radius: 10px;
    padding: 16px 24px 18px 24px;
}

.custom-icon-hire {
    margin-right: 30px;
}

.title-work {
    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: $font-description-color;
    margin-bottom: 4px;
}

.description-work {
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: $font-description-color;
}

@media (max-width: 576px) {
    .frame-process {
        margin-bottom: 20px !important;
        display: flex;
        flex-direction: column;
    }

    .custom-icon-hire {
        margin-right: 30px;
        margin-bottom: 20px;
        width: 60px;
        height: 60px;
    }

    .hire-us-title {
        font-family: $font-family;
        font-style: normal;
        font-weight: bold;
        font-size: 32px !important;
        line-height: 44px;
        color: $font-main-color;
        margin-top: 40px;
        text-align: center;
    }

    .hire-us-description {
        font-family: $font-family;
        font-style: normal;
        font-size: 18px;
        color: $font-description-color;
        margin-top: 16px;
        text-align: center;
        line-height: 24px;
    }

    .btn-hire-us {
        width: 160px;
        font-size: 16px;
        height: 54px;
        margin: 40px 0px 60px 0px;
    }

    .frame-process {
        margin-bottom: 40px;
    }

    .title-work {
        font-size: 18px;
        line-height: 22px;
        color: $font-main-color;
        margin-bottom: 10px;
    }

    .description-work {
        font-size: 16px;
        line-height: 22px;
        color: $font-description-color;
    }

    .bg-button {
        justify-content: center;
    }
}

@media screen and (max-width: 996px) and (min-width: 577px) {
    .bg-button {
        justify-content: left;
    }

    .frame-process {
        margin-bottom: 40px;
    }
}