.main-frame {
    background: #FFF;
    border: 1px solid #EEE;
    border-radius: 6px;
    padding: 40px;
}

.back-btn {
    text-decoration: none;
    font-family: "Heebo", sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #2296FF;
}

.badge-status {
    box-sizing: border-box;
    display: inline-block;
    background: #EFF6E6;
    color: #61A806;
    border-radius: 100px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;
    padding: .45rem .90rem .50rem;
    line-height: inherit;
    font-family: "Heebo", sans-serif;
}

.frame-inside {
    background-color: #FAFAFA;
    border: 1px solid #DDD;
    border-radius: 6px;
    padding: 20px;
}

.frame-img .item-img {
    width: 90px !important;
    height: 90px !important;
    object-fit: cover !important;
    border-radius: 6px !important;
    border: 1px solid #DDD;
}

.frame-img:hover {
    overflow: hidden !important;
    cursor: pointer !important;
    border-radius: 6px;
    opacity: .9;

    img.item-img {
        transform: scale(1.1);
        transition: 0.50s transform ease-in-out;
    }
}

.unique-number {
    font-family: "Heebo", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    color: #18191f;
    margin-left: 20px !important;
}

.title-1 {
    font-family: "Heebo", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #57575A;
    width: 160px;
    margin-left: 20px;
}

.value-1 {
    font-family: "Heebo", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #18191F;
}

.frame-decision-option {
    margin-top: 16px;
    border: 1px solid #DDD;
    background-color: #FFF;
    height: 44px;
    padding: 0 14px 0 14px;
    border-radius: 40px;
    width: 160px !important;
    margin-right: 16px;
}

.title-section {
    font-family: "Heebo", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #909193;
    margin-top: 30px;
}

.title-2 {
    font-family: "Heebo", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #57575A;
    width: 200px;
    margin-bottom: 8px;
}

.value-2 {
    font-family: "Heebo", sans-serif;
    max-width: 350px;
    text-align: right;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #18191F;
    margin-bottom: 8px;
}

.frame-total-amount {
    border-radius: 6px;
    background: rgba(1, 178, 174, 0.1);
    border: 1px solid #ACD8FF;
    padding: 20px 30px 20px 30px;

    .title-total-amount {
        font-family: "Heebo", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
        color: #57575A;
    }

    .value-total-amount {
        font-family: "Heebo", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 20px;
        color: #2296FF;
    }
}