@import "../../../assets/scss/mainSytles/colors";
@import "../../../assets/scss/mainSytles/fonts";


.footer-logo {
  width: 220px;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.custom-footer {
  background-color: $background-color;
  // background: #FFF;
  border: 1.5px solid #EEE;
}

.frame-footer-text-hightlight {
  width: 320px !important;
}

.footer-text-hightlight {
  font-family: $font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #57575a;
}

.footer-allrights {
  font-family: $font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin-top: 10px !important;
  color: #57575a;
  margin-bottom: 26px !important;
}

.footer-title {
  font-family: $font-family;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin-top: 40px !important;
  margin-bottom: 20px !important;
  color: #3f3f3f;
}

.footer-points {
  font-family: $font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  a {
    text-decoration: none !important;
    color: #57575a;
    &:hover {
      color: $primary-color !important;
      text-decoration: underline !important;
    }
  }
  
}

.divider-footer {
  width: 100%;
  height: 0.5px !important;
  background-color: #EEE;
  padding: 0% !important;
}

@media (max-width: 576px) {
  .footer-logo {
    width: 150px;
    margin-top: 25px !important;
    margin-bottom: 20px !important;
  }

  .footer-text-hightlight {
    font-size: 15px;
    line-height: 22px;
  }

  .footer-allrights {
    font-size: 15px;
    line-height: 18px;
    margin-top: 15px !important;
    margin-bottom: 20px !important;
  }
  
  .footer-title {
    font-size: 16px;
    line-height: 20px;
    margin-top: 20px !important;
    margin-bottom: 16px !important;
  }

  .footer-points {
    font-size: 15px;
    line-height: 19px;
    color: #57575a;
  }

  .margin-mobile {
    margin-bottom: 30px;
  }

}

@media screen and (max-width: 996px) and (min-width: 577px) {
  .footer-logo {
    width: 110px;
    margin-top: 25px !important;
    margin-bottom: 20px !important;
  }

  .frame-footer-text-hightlight {
    width: 260px !important;
  }
  
  .footer-text-hightlight {
    font-size: 16px;
    line-height: 18px;
  }

  .footer-allrights {
    line-height: 16px;
    margin-top: 14px !important;
  }

  .footer-title {
    font-size: 16px;
    line-height: 20px;
    margin-top: 26px !important;
  }
  
  .footer-points {
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;
    // max-width: 100px !important;
    a {
      text-decoration: none !important;
      color: #57575A;
      &:hover {
        color: #2296FF !important;
        text-decoration: underline !important;
      }
    }
    
  }

}