@import "../../assets/scss/mainSytles/colors";
@import "../../assets/scss/mainSytles/fonts";
@import "../../assets/scss/mainSytles/mixins";


.bg-pricing-option {
    background: $background-color;
}

.pricing-title {
    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
    color: $font-main-color;
    margin-bottom: 25px;
    max-width: 700px;
}

.pricing-subtitle {
    font-family: $font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: $font-description-color;
    margin-bottom: 70px;
}

.frame-pricing {
    margin-bottom: 30px;
    padding: 50px 30px 40px 40px;
    border-radius: 10px;
    background-color: #FFF;

    &.free {
        background-color: $violet-color !important;
    }

    &.premium {
        background-color: $blue-color !important;
    }

    &.buyout-pricing {
        background-color: $secondary-color !important;
    }

}

.frame-recommended {
    position: absolute;
    top: 0 !important;
    right: 0 !important;
    background: $primary-color;
    border-radius: 0px 10px 0px 10px;
    padding: 10px 16px;
}

.recommended {
    color: #FFF;
    font-family: $font-family;
    font-weight: 500;
}

.badges-pricing {
    box-sizing: border-box;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding: .45rem .70rem .30rem;
    line-height: inherit;
    font-family: $font-family;
    font-weight: 600 !important;
    width: 100px;

    &.free {
        background: rgba(234, 234, 234, 0.295);
        color: #FFF;
        width: 120px;
    }

    &.premium {
        background: rgba(234, 234, 234, 0.295);
        color: #FFF;
        width: 120px;
    }

    &.buyout-option {
        background: rgba(234, 234, 234, 0.295);
        color: #FFF;
        width: 180px;
    }
}

.title-pricing {
    font-family: $font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    color: #FFF;
    margin-top: 25px;

    &.premium {
        color: #FFF !important;
    }
}

.subtitle-pricing {
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #FFF;
    margin-top: 12px;
    margin-bottom: 22px;

    &.premium {
        color: #FFF !important;
    }
}

.frame-feature-items:not(:first-child) {
    margin-top: 24px !important;
}

.option-feature-icon {
    width: 18px;
    height: 18px;
}

.option-feature-name {
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFF;
    margin-left: 18px;

    &.premium {
        color: #FFF !important;
    }
    &.--off {
        color: #D1B4FF;
    }
    &.--on {
        color: #FFF;
    }
}


@media (max-width: 576px) {
    .frame-pricing {
        margin-bottom: 30px;
        padding: 40px 30px 40px 25px;
        border-radius: 10px;
        background-color: #FFF;
    }

    .pricing-title {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 15px;
        max-width: 600px;
    }

    .pricing-subtitle {
        font-size: 18px;
        line-height: 22px;
        color: $font-description-color;
        max-width: 300px;
        margin: auto;
        margin-bottom: 40px !important;
    }

}

@media screen and (max-width: 996px) and (min-width: 577px) {}
