@import "../../../assets/scss/mainSytles/colors";
@import "../../../assets/scss/mainSytles/fonts";
@import "../../../assets/scss/mainSytles/mixins";

.strength-title-main {
  font-family: $font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 32px !important;
  line-height: 44px;
  color: $font-main-color;
  text-align: left;
  max-width: 470px;
  margin-top: 70px;
}

.strength-description-main {
  font-family: $font-family;
  font-style: normal;
  font-size: 22px;
  line-height: 32px;
  color: $font-description-color;
  margin-top: 35px;
  text-align: left;
  max-width: 470px;
}

.btn-recommended {
  margin-top: 60px;
}

.recommended-icon {
  margin-right: 24px;
}

.recommended-title {
  font-family: $font-family;
  font-size: 18px;
  font-weight: 600;
  color: $font-description-color;
  margin-bottom: 5px;
}

.recommended-description {
  font-family: $font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $font-description-color;
  max-width: 450px;
}

// .frame-recom {
//   background: #FFF;
//   border-radius: 10px;
//   padding: 16px 24px 18px 24px;
//   box-shadow: 0px 2px 3px rgba(217, 219, 225, 0.3);
//   margin-bottom: 20px;
// }

.frame-recom {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  background: #FFFFFF;
  box-shadow: 0px 2px 3px rgba(217, 219, 225, 0.3);
  border-radius: 10px;
  padding: 16px 24px 18px 24px;
}

.ornament-strength {
  top: -20px !important;
  left: -80px;
}

@media screen and (max-width: 996px) and (min-width: 577px) {
  .ornament-strength {
    display: none;
  }

  .strength-title-main {
    font-size: 32px !important;
    line-height: 44px;
    text-align: center;
    margin: auto;
    max-width: 470px;
  }

  .strength-description-main {
    font-size: 22px;
    line-height: 32px;
    margin: auto;
    margin-top: 35px;
    text-align: center;
    max-width: 470px;
  }

  .frame-btn-recommended {
    justify-content: center;
    margin-bottom: 40px;
  }

  .frame-recom {
    padding: 16px 24px 18px 24px;
    margin-bottom: 20px;
  }

}

@media (max-width: 576px) {
  .ornament-strength {
    display: none;
  }

  .strength-title-main {
    font-size: 32px !important;
    line-height: 44px;
    text-align: center;
    margin: auto;
  }

  .strength-description-main {
    font-size: 20px;
    line-height: 28px;
    margin: auto;
    margin-top: 35px;
    text-align: center;
    max-width: 320px;
  }

  .frame-btn-recommended {
    justify-content: center;
    margin-bottom: 40px;
  }

  .frame-recom {
    // margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    // background: #FFFFFF;
    // box-shadow: 0px 2px 3px rgba(217, 219, 225, 0.3);
    // border-radius: 10px;
    // padding: 16px 24px 18px 24px;
  }

  .recommended-icon {
    margin-right: 30px;
    margin-bottom: 14px;
    width: 60px;
    height: 60px;
  }

}