$font-family: "Heebo", Helvetica, Verdana, sans-serif;

// font size
$font-size-title-main: 42px;
$font-size-second: 36px;
$font-size-product-title: 24px;
$font-size-card-title: 20px;
$font-size-description-small: 16px;
$font-size-description-medium: 18px;

// font color
$font-main-color: #18191F;
$font-description-color: #57575A;